*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
  color: #fff;
  font-family: 'Bruno Ace', cursive;
}
p{
  color: #fff;
  font-family: 'Playfair Display', serif;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
      transform: translateX(100px);
  }
  to {
    transform: rotate(359deg);
  }
}